@import "register.css";

.textTall {
    -fx-background-color: transparent;
    /*-fx-text-fill: #32cd32;*/
    -fx-text-fill: #846924;
    -fx-alignment: center;
    -fx-font-family: "Gothic 821 Condensed BT";
    /*-fx-font-family: "GillSansStd-BoldExtraCond";*/
    -fx-font-smoothing-type: grey;
    -fx-max-height: 20;
    -fx-font-size: 18;
    -fx-background-radius: 0;
}


.listViewPerks {
    -fx-control-inner-background: black;
    -fx-background-color: #000000;
    -fx-selection-bar: transparent;
    -fx-font-family: "Fallout Classic Dialog";
    -fx-alignment: center-left;
    -fx-font-size: 10;
    -fx-background-radius: 0;
    -fx-font-smoothing-type: grey;
}

.listViewPerks .list-cell {
    -fx-text-fill: black;
}

.listViewPerks .list-cell:filled {
    -fx-text-fill: #38FB00;
}

.listViewPerks:focused .list-cell:filled:selected:focused {
    -fx-text-fill: white;
    -fx-highlight-fill: yellow;
    -fx-highlight-text-fill: yellow;
}

.list-cell:filled:selected:focused,
.list-cell:filled:selected {
    -fx-background-color: transparent;
}

#backgroundPane {
    -fx-background-color: #000000;
    -fx-background-image: url("../images/level_up.png");
}

.dialogQuestion {
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: #00FF00;
    -fx-font-family: "Fallout Classic Dialog";
    -fx-font-smoothing-type: grey;
    -fx-font-size: 14;
    -fx-background-radius: 0;
}

.dialogQuestion .scroll-pane,
.dialogQuestion .scroll-pane .viewport,
.dialogQuestion .scroll-pane .content {
    -fx-background-color: transparent;
}

.listViewDialogAnswer {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-font-family: "Fallout Classic Dialog";
    -fx-alignment: center-left;
    -fx-font-size: 12;
    -fx-background-radius: 0;
    -fx-font-smoothing-type: grey;

}

.listViewDialogAnswer .list-cell:filled {
    -fx-text-fill: #38FB00;
}







